.row
  .col-md-4.col-xs-4
    = image_tag(@politic.photo_url)
  .col-md-8.col-xs-8
    %h1
      = @politic.name 
    %h3
      Посада:
      = @politic.post
    %h4
      Історія хвороби: 
      = @politic.about