body {
  width: 980px;
  margin: 0 auto;
  word-wrap: break-word;
}

h1 {
  margin-top: 0px;
}

.logo {
  margin: 30px 0px;
  overflow: hidden;
  h1 {
    margin: 0;
    display: inline;
    float: left;
  }
  .user-nav {
    float: right;
    h4 {
      margin: 0;
      padding-top: 15px;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      li {
        display: inline;
      }
    }
  }
} 

.resize {
  border-radius: 50%;
}

.hot-news {
  img {
    width: 100%;
  }
}

.hot-politics {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
  .name {
    margin-bottom: 0;
    margin-top: 0;
  }
  .feedbacks-rating
    .feedbacks {
      float: left;
    }
    .rating {
      float: right;
    }
}

.review, .feedback {
  overflow: hidden;
  margin: 10px;
  .review-header, .feedback-header {
    overflow: hidden;
    .username {
      margin: 10px;
      float: left;
    }
    .date {
      float: right;
      margin: 10px;
    }
  }
  .review-content, .feedback-content {
    margin: 0px 10px 10px 10px;
  }
  .review-footer, .feedback-footer {
    margin-bottom: 10px;
    overflow: hidden;
    .links {
      float: left;
    }
    .voted {
      float: right;
      text-align: center;
      margin: 0px 10px 10px 0px;
      .voted-for, .voted-against {
        font-size: 20px;
        text-decoration: none;
      }
    }
    .votes {
      float: right;
      margin: 0px 10px 10px 0px;
      .vote-for, .vote-against {
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
      }
      .rating {
        text-align: center;
      }
    }
  }
}

.positive {
  background-color: #D3F1D4;
  a {
    color: #777;
  }
}

.neutral {
  background-color: #DADADA;
  a {
    color: #777;
  }
}

.negative {
  background-color: #ffe3e3;
  a {
    color: #777;
  }
}

.radio {
  display: inline-block;
  margin-top: 0;
}

footer {
  .cr {
    margin-bottom: 20px;
  }
}

.star-rating { unicode-bidi:bidi-override; direction:rtl; font-size:20px; float: left; }
.star-rating span.star { font-family:FontAwesome; font-weight:normal; font-style:normal; display:inline-block; }
.star-rating span.star:hover { cursor:pointer; }
.star-rating span.star:before { content:"\f006"; padding-right:0px; color:#999; }
.star-rating span.star:hover:before,.star-rating span.star:hover~span.star:before { content:"\f005"; color:#e3cf7a; }

.average-rating {
  font-size: 20px;
  margin-left: 10px;
}
