@font-face {
  font-family: 'lobster';
  src:font-url('lobster-webfont.eot');
  src:font-url('lobster-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('lobster-webfont.svg#icomoon') format('svg'),
    font-url('lobster-webfont.woff') format('woff'),
    font-url('lobster-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 980px;
  margin: 0 auto;
  word-wrap: break-word;
}

h1 {
  margin-top: 0px;
}

h1, h2 {
  font-family: 'lobster';
}

a:hover {
  text-decoration: none;
}

.logo {
  margin: 30px 0px;
  overflow: hidden;
  .brand {
    display: inline;
    a {
      font-family: 'lobster';
      font-size: 50px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h1 {
    margin: 0;
    display: inline;
    float: left;
    font-family: 'lobster';
  }
  .user-nav {
    float: right;
    h4 {
      margin: 0;
      padding-top: 15px;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      li {
        display: inline;
      }
    }
  }
} 

.resize {
  border-radius: 50%;
}

.hot-news {
  img {
    width: 100%;
  }
}

.hot-politics {
  img {
    width: 100%;
  }
  .name {
    margin-bottom: 0;
    margin-top: 0;
  }
  .feedbacks-rating
    .feedbacks {
      float: left;
    }
    .rating {
      float: right;
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
    }
}

.review, .feedback {
  overflow: hidden;
  margin: 10px;
  .review-header, .feedback-header {
    overflow: hidden;
    .user {
      margin: 10px;
      float: left;
      font-size: 20px;
      .username, .flag {
        display: inline-block;
      }
    }
    .date {
      float: right;
      margin: 10px 10px 0px 0px;
    }
  }
  .review-content, .feedback-content {
    margin: 0px 10px 10px 10px;
  }
  .review-footer, .feedback-footer {
    margin-bottom: 10px;
    overflow: hidden;
    .links {
      float: left;
    }
    .voted {
      float: right;
      text-align: center;
      margin: 0px 10px 10px 0px;
      .voted-for, .voted-against {
        font-size: 20px;
        text-decoration: none;
      }
    }
    .votes {
      float: right;
      margin: 0px 10px 10px 0px;
      .vote-for, .vote-against {
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
      }
      .rating {
        text-align: center;
      }
    }
  }
}

.positive {
  background-color: #D3F1D4;
  a {
    color: #777;
  }
}

.neutral {
  background-color: #DADADA;
  a {
    color: #777;
  }
}

.negative {
  background-color: #ffe3e3;
  a {
    color: #777;
  }
}

.radio {
  display: inline-block;
  margin-top: 0;
}

footer {
  .cr {
    margin-bottom: 20px;
  }
}

.star-rating { unicode-bidi:bidi-override; direction:rtl; font-size:20px; float: left; }
.star-rating span.star { font-family:FontAwesome; font-weight:normal; font-style:normal; display:inline-block; }
.star-rating span.star:hover { cursor:pointer; }
.star-rating span.star:before { content:"\f006"; padding-right:0px; color:#999; }
.star-rating span.star:hover:before,.star-rating span.star:hover~span.star:before { content:"\f005"; color:#e3cf7a; }

.average-rating {
  font-size: 20px;
  margin-left: 10px;
}

.photo { padding-top:40px;background:url(/hanger.png) no-repeat top center; }
.photo .object { box-shadow:1px 1px 2px #777;}
.photo .frame { padding:5px;border:1px solid #7E7464;background:url(/frame.jpg) repeat;border-radius:2px;box-shadow:inset 0px 0px 3px #fff; }
.photo .canvas { padding:1%;border:1px solid #958879;background:#fff url(/canvas.png) repeat;box-shadow:inset 0px 0px 2px #958879; }
.photo img { width:100%;border:1px solid #958879;border-radius:2px;box-shadow: 0px 0px 1px #ADA293; }

.sidebar {
  .politics {
    overflow: hidden;
    .hot-politic {
      margin-bottom: 5px;
      img {
        width: 100%;
      }
    }
  }
}

.flag {
  width: 16px;
  height: 11px;
  background:url(/flags.png) no-repeat
}

.flag.flag-ca {background-position: -16px 0}
.flag.flag-eu {background-position: -32px 0}
.flag.flag-fr {background-position: 0 -11px}
.flag.flag-ru {background-position: -16px -11px}
.flag.flag-ua {background-position: -32px -11px}
.flag.flag-us {background-position: 0 -22px}

.politic-name {
  font-size: 40px;
  font-family: 'lobster'
}
