body {
  width: 980px;
  margin: 0 auto;
}

.hot-news {
  img {
    width: 100%;
  }
}

.hot-politics {
  img {
    width: 100%;
  }
  .name {
    margin-bottom: 0;
  }
  .feedbacks-rating
    .feedbacks {
      float: left;
    }
    .rating {
      float: right;
    }
}